*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor-cinzaFundo: #2B2C28;
    --cor-azulMarinho:#7DE2D1;
    --cor-branco: #FFFAFB;
}

.NavBar {
    background-color: var(--cor-cinzaFundo);
    height: 80px;
}

.listMenu {
    list-style: none;
    margin: 30px;
    margin-right: 80px;
    display: flex;
    justify-content: end;
}

.listMenu li {
    margin-right: 20px;
    flex-direction: row;
    align-items: end;
}


.listMenu li a {
    text-decoration: none;
    color: var(--cor-branco);
    font-weight: bold;
    padding: 10px 15px;
}

.listMenu li a:hover {
    background-color: var(--cor-azulMarinho);
}
