.main {
    border: 2px solid #d3ded3;
    display: flex;
    justify-content: center;    
    align-items: center;
    text-align: center;
    width: 60%; 
    height: 60%; 
    margin: auto; 
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
    text-align: center; 
}